* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerContainer {
  /* border: 2px solid black; */
  width: 100%;
  box-shadow: 5px 4px 10px 2px rgba(77, 73, 73, 0.2);
  
}

.headerBox {
  /* border: 2px solid gray; */
  /* width: 100%; */
  background-color: #383630;
  box-shadow: 0px 2px 5px rgb(68, 65, 65);
}

.contactBar {
  /* border: 2px solid red; */
  background-color: 54473F;
  width: 100%;
  /* margin-top: 15px; */
  display: flex;
  font-size:small;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 5px;
  
}
.contactBar h4{
    font-size:small;

}
.emailLink {
  /* border: 2px solid green; */
  width: 40%;
  color: white;
}

.emailLink i {
  padding-left: 15px;
  color: white;
  
}

.socialLink {
  /* border: 2px solid green; */
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.socialLink i {
  padding-left: 15px;
  color: white;
}

.logoANDLogin {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  /* border: 2px solid green; */
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img {
  /* border: 2px solid green; */
  width: 20%;
  border-radius: 50px;
}
.login {
  /* border: 2px solid green; */
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.PhIcon i {
  border: 2px solid blue;
  font-size: 30px;
  margin-right: 15px;
  color: crimson;
}
.PhNo {
  border: 2px solid blue;
  font-size: 15px;
  margin-right: 15px;
}
.LoginBtn {
  /* border: 2px solid blue; */
  margin-right: 15px;
  width: 15%;
  padding: 5px;
}
.LoginBtn button {
  border: 1px solid rgb(55, 182, 55);
  background-color: crimson;
  border-radius: 15px;
  padding: 10%;
  width: 100%;
}

.navContainer {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  

}
#nav {
  /* border: 2px solid yellow; */
  width: 50%;
  
}
#nav > ul {
  background-color: white;
}
#nav ul {
  list-style: none;
  position: relative;
  /* margin: 0; */
  /* padding: 0; */
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav ul a {
  color: crimson;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 32px;
  padding: 0 15px;
  display: block;
}

#nav ul li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}
#nav ul li:hover {
  background-color: white;
  /* color: black; */
}

#nav ul ul {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  display: none;
}

#nav ul ul li {
  float: none;
  width: 200px;
  /* border: 1px solid black; */
  /* width: 150% */
}
#nav ul ul li:hover {
  border: 1px solid rgb(48, 44, 44);
}

#nav ul ul ul {
  top: -5px;
  left: 100%;
}

#nav ul li:hover > ul {
  display: block;
}





@media (max-width: 970px) {

  #nav {
    /* border: 2px solid yellow; */
    width: 100%;
  }

  #nav ul a {
    color:crimson;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 5px;
    display: block;
  }
}














































































@media (max-width: 525px) {
  .emailLink {
   display: none;
  }

  .socialLink {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .socialLink a {
    color: white;
  }

  .logo img {
    display: none;
  }
  .logo h1 {
    font-size: medium;
    color:#9b4111;
  }

  .PhIcon i {
    display: none;
  }
  .PhNo {
    display: none;
  }

  .LoginBtn {
    /* border: 2px solid blue; */
    margin-right: 15px;
    width: 60%;
  }
  .LoginBtn button {
    /* border: 1px solid crimson; */
    background-color: #9b4111;
    border-radius: 15px;
    padding: 5%;
    width: 100%;
  }

  #nav {
    /* border: 2px solid red; */
    width: 100%;
  }
  

  #nav ul a {
    color:crimson;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 5px;
    display: block;
  }
}


@media (max-width: 314px) {
  body{
    display: none;
  }
}